<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pets')}">

  <body>

    <h2>Pets</h2>

    <table id="pets" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Owner</th>

        </tr>
        </thead>
        <tbody>
<<<<<<< HEAD
          <tr th:each="pet : ${selections}">
              <td th:text="${pet.name}"/>
              <td th:text="${pet.type.name}"/>
              <td th:text="${pet.owner.firstName + ' ' +pet.owner.lastName}"/>
=======
          <tr th:each="owner : ${selections}">
              <td>
                  <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
              </td>
              <td th:text="${owner.address}"/>
              <td th:text="${owner.city}"/>
              <td th:text="${owner.telephone}"/>
              <td><span th:each="pet : ${owner.pets}" th:text="${pet.name+ '&emsp;&emsp;'} "/></td>
>>>>>>> refs/heads/master
          </tr>
        </tbody>
    </table>

  </body>
</html>
